
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
<title>🍕</title>
</head>                       
    <body>
        <div class="navbar">PETITION to install more bike traffic signal </div>
        <div class="homePage"><a href="/"><h5>back to home page</h5></a></div>
       
                        {{{body}}}
                        
    </body>
<footer> © The Pizzas, inc. 2021
</html>