
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
<title>🍕</title>
</head>                       
    <body>
        <div class="nav">
            <div class="main-logo">PETITION on thepizzas.org</div>
            <div class="nav-link">
                {{!-- <div class="home-link">
                    <a href="/login"><h5>petition |</h5></a>
                </div> --}}
                
                <div class="login-link">
                    <a href="/login"><h5>login |</h5></a>
                </div>
                  {{!-- <div class="popup" onclick="popUpFunction()"><h5>login |</h5>
  <span class="popuptext" id="myPopup"> <form method="post" class="row-three">

            <input
                class="input"
                type="text"
                name="email"
                placeholder="Electronic mail"
            />
            <input
                class="input"
                type="Password"
                name="password"
                placeholder="Password"
            />
            <button id="inputBtn">Login</button>

        </form></span> --}}
</div>
                 {{!-- <div class="login-link">
                    <a href="/signers"><h5>signers |</h5></a>
                </div> --}}
            </div>
          
        </div>
                        {{{body}}}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="/script.js"></script>
    </body>
    <div class="footer"><footer> © The Pizzas, inc. 2021</div>


</html>