<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>Welcome THREEPWOOD! Help me to TEAR DOWN all the EYESORE!
</h3>
        </div>
    </div>

    <section class="img-hompage">
             <img
                src="img/eyesoreNO.jpg"
                alt="bike signal ligth"
            /> 

    <div class="logIn">
            Aren't you Threepwood? So, please
            <a href="/register">register</a>
            or
            <a href="/login">login</a>
    </div>
    
</div>