<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>Welcome THREEPWOOD! So, you wanna help me to tear down eyesores,
                eh?
            </h3>
        </div>

    </div>
  <div class="logIn">
        Aren't you Threepwood? So, please
        <a href="/register">REGISTER</a>
        or
        <a href="/login">LOGIN</a>

    </div>
    <div class="wikipedia">
        
            Do you want to know more about EYESORE? <a href="https://en.wikipedia.org/wiki/Eyesore" target="blank">Click here.
        </a>
    </div>
  
    <section class="img-homepage">
        <center>
            <img
                class="circle-homepage"
                src="img/eyesoreCircle.png"
                alt="bike signal ligth"
            /></center>
    </section>
</div>

