<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>Welcome THREEPWOOD! Help me to TEAR DOWN all the EYESORE!
            </h3>
        </div>
    </div>
    <section class="img-homepage">
        <center>
            <img
                class="circle-homepage"
                src="img/eyesoreCircle.png"
                alt="bike signal ligth"
            /></center>
    </section>

    <div class="logIn">
        Aren't you Threepwood? So, please
        <a href="/register">REGISTER</a>
        or
        <a href="/login">LOGIN</a>

    </div>

</div>