<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <div class="loginTitle"> <h3>PLEASE LOG-IN</h3></div>
        </div>

    </div>

    <div class="right-login">
        <form method="post" class="login-container">

            <input
                class="input-login"
                type="text"
                name="email"
                placeholder="Electronic mail"
                autocomplete="off"
            />
            <input
                class="input-login"
                type="Password"
                name="password"
                placeholder="Password"
                autocomplete="off"
            />
            <button id="login-button">Login</button>

        </form>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />

        <div class="wrong">

            <a href="/register">{{wrong}}</a>
        </div>
    </div>
</div>