<div class="petitionMain">
    <h2 class="row-one">PLEASE SIGN THIS PETITION TO PREVENT STUPID BIKERZ TO HAVE BIKE CRASH!!</h2>

    <section class="row-two"><img src="img/bikeLight.jpeg" alt="bike signal ligth"></section>
   
    <form  method="post" class="row-three">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name"> 
        <button class="submitBTN">SUBMIT</button>

    </form>

    <section class="row-four">
        <canvas id="canv" width="200" height="50"></canvas>
    </section>
    
    

    <h4>< < click on SUBMIT after your signature > ></h4>

</div>