<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>PLEASE SIGN THIS PETITION TO PREVENT STUPID BIKERZ TO HAVE BIKE
                CRASH!!</h3>
        </div>
        <div class="wrong">

            {{wrong}}
        </div>
    </div>
    <div class="left-main">
        <section class="img-container"><img
                src="img/bikeLight.jpeg"
                alt="bike signal ligth"
            />

        </section>
    </div>
    <div class="right-main">
        <form method="post" class="row-three">
            <div class="counter">
                {{numberOfSigners}}
                Have signed
            </div>
            <br />

            <input
                class="input"
                type="text"
                name="firstName"
                placeholder="First Name"
            />
            <br />
            <input
                class="input"
                type="text"
                name="lastName"
                placeholder="Last Name"
            />
            <br />
            <input
                class="input"
                type="text"
                name="email"
                placeholder="Electronic mail"
            />
            <br />
            <input class="input" type="text" name="city" placeholder="Yò?" /><br
            />
            <div class="signature">
                <label for="signature">please sign here: </label>
                <input
                    type="hidden"
                    type="text"
                    name="signature"
                    id="signature"
                    required
                />
            </div>

            <canvas name="canv" id="canv"></canvas>
            <br />
            <button id="inputBtn">Sign this Petition</button>

        </form>

    </div>
</div>