<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>LET'S TEAR DOWN ALL THE EYESORES IN THE WORLD!</h3>
        </div>
        <div class="wrong">

            {{wrong}}
        </div>
    </div>
    <div class="left-petition">
        <section class="img-container"><img
                src="img/eyesore.jpg"
                alt="bike signal ligth"
            />
            <h1>JAIL THE ARCHITECTS!!</h1>
            <h4>"Beauty perishes in life, but is immortal on the horizon with no
                eyesores..."
            </h4>

            <p>Clean-up programme to improve or remove eyesores should be
                started by local bodies or even national governments. These are
                frequently called Operation Eyesore. But nowadays they are
                rarely initiated. So I find myself having to launch this
                petition so that our voice reaches local governments to take
                matters into their own hands. I am tired of having to drink my
                beer on the beach with these eyesores on the horizon.
            </p>

        </section>
    </div>
    <div class="right-petition">
        <form method="post">
            <div class="counter">
                {{numberOfSigners}}
                Have signed, be part of them!
            </div>

            <div class="signature">
                <label for="signature">please sign here: </label>
                <input
                    type="hidden"
                    type="text"
                    name="signature"
                    id="signature"
                    required
                />
            </div>

            <canvas name="canv" id="canv"></canvas>
            <br />
            <button id="signBTN">Sign this Petition</button>
        </form>

    </div>
</div>