<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>We would like to know more about you 👀</h3>
        </div>
        <div class="wrong">

            {{wrong}}
        </div>
    </div>

    <div class="register-main">
        <form method="post" class="row-three">

            <input class="input" type="text" name="city" placeholder="City" />
            <input class="input" type="number" name="age" placeholder="Age" />
            <input
                class="input"
                type="text"
                name="url"
                placeholder="https:// <== start with"
                autocomplete="off"
            />

            <button id="inputBtn">Continue</button>

            PLEASE REMEMBER THAT THE VALUES TO INPUT SHOULD FOLLOW SPECIFIC
            RULES

        </form>

    </div>
</div>