<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>BEFORE TO SIGN THE PETITION, PLEASE REGISTER!</h3>
        </div>
        <div class="wrong">

            {{wrong}}
        </div>
    </div>

    <div class="right-main">
        <form method="post" class="row-three">
            <div class="counter">
                {{numberOfSigners}}
                Have signed, be part of them!
            </div>

            <input
                class="input"
                type="text"
                name="firstName"
                placeholder="First Name"
            />
            <input
                class="input"
                type="text"
                name="lastName"
                placeholder="Last Name"
            />
            {{! <input class="input" type="text" name="city" placeholder="City" /> }}
            <input
                class="input"
                type="text"
                name="email"
                placeholder="Electronic mail"
            />
            <input
                class="input"
                type="Password"
                name="password"
                placeholder="Password"
            />

            {{! <div class="signature">
                <label for="signature">please sign here: </label>
                <input
                    type="hidden"
                    type="text"
                    name="signature"
                    id="signature"
                    required
                />
            </div> }}

            {{! <canvas name="canv" id="canv"></canvas> }}

            <button id="inputBtn">Register</button>

            <div class="log-in">
                If you are already a member, please
                <a href="/login"> log-in</a>
            </div>

        </form>

    </div>
</div>

{{! LOGIN PAGE


<form method="post" class="row-four">

            <input
                class="input"
                type="text"
                name="email"
                placeholder="Electronic mail"
            />
            <input
                class="input"
                type="Password"
                name="password"
                placeholder="Password"
            />
        </form>
        
         }}