<div class="main-container">
    <section id="signers">
        {{#results}}
            <div class="results">

                <h6>{{first}} {{last}} {{age}} {{city}}</h6>

            </div>
        {{/results}}

    </section>

</div>