<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h1>THANK YOU SO MUCH, YOU ARE ONE OF THE
                <a href="/signers">{{numberOfSigners}}</a>
                SIGNERS
            </h1>
            <section class="img-container"><img
                src="img/eyesoreNO.jpg"
                alt="bike signal ligth"
            />
            <a href="/signers"><h4>click here to see the list of people who have
                signed the petition</h4></a>
        </div>
    </div>

</div>