<div class="main-container">
    <div class="top-main">

        <div class="main-title">
            <h1>Thank you
                {{firstName}}
                for your signature! You are one of the
                <a href="/signers">{{numberOfSigners}}</a>
                Signers!
            </h1>
        </div>
    </div>
    <div class="img-container">
        <img src="img/eyesoreCircle.png" alt="eyesore NO THANKS!" />
        <img src="{{img}}" alt="signature" width="400" height="200" />
        <form method="post" action="/delete-signature">
            <button id="inputBtn" class="delete-sign">DELETE YOUR SIGNATURE</button>
        </form>

        <form method="post" action="/delete-account">
            <button id="inputBtn" class="delete-sign">DELETE ACCOUNT</button>
        </form>
        <form method="post" action="/signers">
            <button id="inputBtn" class="listOfSigners">LIST OF SIGNERS</button>
        </form>

    </div>
</div>