body {
    display: grid;
    margin: 0;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    background-color: #b8dfd8;
    justify-content: stretch;
    align-content: stretch;
    max-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: whitesmoke;
}
h2 {
    color: #00a8cc;
    justify-content: center;
    font-style: italic;
    font-size: 10px;
}

h3 {
    font-size: 22px;
}

h5 {
    color: deeppink;
    text-decoration: none;
    font-style: italic;
    font-size: 10px;
}
h4 {
    color: deeppink;
    text-decoration: none;
    font-style: italic;
    bottom: 15px;
    position: absolute;
}

a:link {
    text-decoration: none;
}

/* MAIN LAYOUT */

.nav {
    background-color: #233e8b;
    height: 50px;
    top: 400px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-logo {
    color: deeppink;
    justify-items: center;
    align-self: center;
    font-size: 22px;
    font-style: italic;
    font-weight: 900;
    padding-left: 40px;
}
.nav-link {
    height: 50px;
    grid-column-start: 2;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}
.home-link {
    margin: 5px;
}
.login-link {
    width: auto;
    margin: 5px;
}

footer {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    color: deeppink;
    align-self: end;
    background-color: #233e8b;
    line-height: 30px;
    padding-left: 40px;
}

/* PETITION HANDLEBARS TEMPLATE */

.main-container {
    height: 40vmax;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 0.8fr;
    justify-content: stretch;
    padding-left: 40px;
}

.top-main {
    grid-column-start: 1;
    grid-column-end: -1;
    /* background-color: deeppink; */
    justify-self: center;
    align-self: center;
    color: #233e8b;
}

.right-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.inputBtn,
button,
.input {
    width: 300px;
    height: 35px;
    background-color: #e8f6ef;
    border-radius: 10px;
    border-style: 0.5px #4c4c6d;
    margin: 5px;
}

::placeholder {
    color: #4c4c6d;
}
.img-container {
    grid-row-start: 2;
    grid-row-end: 4;
}
img {
    height: 450px;
    width: 100%;
    border-radius: 10px;
}

#canv {
    margin: 5px;
    width: 80%;
}
