body {
    display: grid;
    margin: 0;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 10% 85% 5%;
    background-color: #b8dfd8;
    justify-content: stretch;
    align-content: stretch;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
    color: #233e8b;
    font-style: oblique;
}
h2 {
    color: #00a8cc;
    justify-content: center;
    font-style: italic;
    font-size: 10px;
}

h3 {
    font-size: 35px;
    margin-top: 0;
    font-weight: bolder;
}

h4 {
    color: firebrick;
    text-decoration: none;
    font-style: italic;
    bottom: 15px;
    position: absolute;
}
h5 {
    color: #b8dfd8;
}
h6 {
    color: firebrick;
    justify-content: flex-start;
    font-style: italic;
    font-size: 15px;
}
p {
    font-weight: normal;
    color: dimgray;
}
a:link {
    text-decoration: none;
}

/* MAIN LAYOUT */

.nav {
    background-color: #233e8b;
    height: 50px;
    top: 400px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-logo {
    color: #b8dfd8;
    justify-items: center;
    align-self: center;
    font-size: 22px;
    font-style: italic;
    font-weight: 900;
    padding-left: 40px;
}
.nav-link {
    height: 50px;
    grid-column-start: 2;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}
.home-link {
    margin: 5px;
}
.login-link {
    width: auto;
    margin: 5px;
}

.footer {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    color: #b8dfd8;
    align-self: end;
    background-color: #233e8b;
    line-height: 30px;
    padding-left: 40px;
}

/* PETITION HANDLEBARS TEMPLATE */

.main-container {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 0.8fr;
    justify-content: stretch;
    padding-left: 40px;
}

.top-main {
    grid-column-start: 1;
    grid-column-end: -1;
    color: #233e8b;
    align-self: center;
    justify-self: center;
}
.main-title {
    grid-column-start: 1;
    grid-column-end: -1;
}

.right-petition {
    padding-left: 40px;
    display: flex;
    justify-self: center;
}

.row-three {
    display: flex;
    flex-direction: column;
}
.inputBtn,
button,
.input {
    width: 95%;
    height: 35px;
    background-color: #e8f6ef;
    border-radius: 10px;
    border-style: 0.5px #4c4c6d;
    margin: 5px;
    grid-column-start: 1;
}

.counter {
    margin-left: 5px;
    width: 100%;
    height: 35px;
    grid-column-start: 2;
    color: firebrick;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
}
::placeholder {
    color: #4c4c6d;
    margin: 5px;
}

/* REGISTER TEMPLATE */
.register-main {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    justify-content: center;
}

.log-in {
    color: firebrick;
    font-style: italic;
    justify-self: center;
    justify-content: center;
}

/* HOME PAGE TEMPLATE */

.img-hompage {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    width: 50%;
    justify-self: center;
    justify-content: center;
}
.logIn {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    color: firebrick;
    font-style: italic;
    justify-self: center;
    justify-content: center;
}

label {
    color: firebrick;
    margin: 5px;
}
.img-container {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    justify-self: center;
    justify-content: center;
}
img {
    width: 80%;
    border-radius: 10px;
}

canvas {
    width: 95%;
    height: 200px;
    background-color: #e8f6ef;
    border-radius: 10px;
    border-style: 0.5px #4c4c6d;
    margin: 5px;
}

#signers {
    width: 300px;
}

.results {
    background-color: deeppink;
}

/* EDIT PROFILE */

.delete-account {
    background-color: darkred;
}

.delete-sign {
    background-color: darkseagreen;
}
